* {
    margin: 0;
  }
  
  .App {
    font-family: sans-serif;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .box1 {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    background: rgba(255,255,255,0.4);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    backdrop-filter: blur(2px);
  }
  


  .calendar{
    margin-top: 30px;
  }